body {
  font-family: Rubik, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #67bfd3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.zb-hero {
  position: static;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 110px;
  padding-left: 7%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: none;
}

.zb-nav {
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 24px 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #fff;
  box-shadow: none;
}

.zb-nav__pri-btns-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.zb-nav__sec-btns-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.zb-nav__pri-btn-item {
  margin-right: 2px;
  margin-left: 4px;
  letter-spacing: 1px;
}

.zb-nav__pri-btn {
  padding: 6px 12px;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.zb-nav__pri-btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.zb-nav__sec-btn-item {
  margin-right: 3px;
  margin-left: 3px;
}

.zb-nav__sec-btn {
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: opacity 200ms ease, background-color 500ms ease;
  transition: opacity 200ms ease, background-color 500ms ease;
}

.zb-nav__sec-btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.zb-nav__btns-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -8px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zb-nav__sec-btn-image {
  opacity: 0.45;
}

.body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.zb-hero__desc-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 442px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.zb-hero__zbay-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zb-hero-heading {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 400;
}

.zb-hero-button {
  display: inline-block;
  padding: 19px 40px 19px 71px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #521b74;
  background-image: url('../images/apple.svg');
  background-position: 30px 15px;
  background-size: 24px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 1100ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 1100ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 1100ms ease, box-shadow 200ms ease, transform 200ms ease;
  transition: background-color 1100ms ease, box-shadow 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  font-size: 15px;
  text-align: left;
}

.zb-hero-button:hover {
  background-color: #e42656;
  background-image: url('../images/apple.svg');
  background-position: 30px 15px;
  background-size: 24px;
  background-repeat: no-repeat;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.zb-hero__sec-links-list {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 0px;
  font-size: 13px;
  list-style-type: none;
}

.zb-hero__sec-link {
  color: #67bfd3;
  text-decoration: none;
}

.zb-hero__sec-link:hover {
  text-decoration: underline;
}

.zb-hero__sec-link-item {
  margin-bottom: 8px;
}

.zb-hero__sec-link-desc {
  color: rgba(0, 0, 0, 0.6);
}

.zb-hero__image-container {
  min-width: 820px;
  margin-bottom: 0px;
}

.zb-hero__highlight-text {
  padding-right: 6px;
  padding-left: 6px;
  background-color: rgba(228, 38, 86, 0.08);
  color: #521a74;
  font-weight: 300;
}

.zb-logo-image {
  height: 22px;
  opacity: 0.7;
}

.zb-logo {
  display: none;
  margin-left: -33px;
  padding: 12px 12px 10px;
  background-color: #e4e4e4;
  background-image: linear-gradient(39deg, #f3f3f3, #eee);
}

.zb-essay {
  width: 892px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 100px;
}

.zb-section-heading {
  margin-top: 0px;
  margin-bottom: 32px;
  color: #521b74;
  font-size: 36px;
  font-weight: 400;
}

.zb-essay-paragraph {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.zb-drop-cap {
  display: inline-block;
  margin: 29px 9px 10px -6px;
  float: left;
  font-size: 90px;
}

.zb-essay-section {
  background-color: #fff;
  background-image: none;
  background-position: 0px 0px;
  box-shadow: none;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-weight: 300;
}

.zb-faq-section {
  background-color: #fbf6ff;
}

.zb-faq {
  width: 892px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 100px 140px;
}

.zb-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 92px 32px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: linear-gradient(185deg, #521b74, #e42656);
}

.zb-footer__sec-btns-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 92px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  list-style-type: none;
}

.zb-footer__sec-btn-item {
  margin-right: 8px;
  margin-left: 8px;
}

.zb-footer__sec-btn {
  padding: 12px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.05);
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.zb-footer__sec-btn:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.zb-footer__sec-btn-image {
  opacity: 0.45;
}

.zb-footer__pri-btns-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
}

.zb-footer__pri-btn-item {
  margin-right: 8px;
  margin-left: 8px;
  letter-spacing: 1px;
}

.zb-footer__logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zb-footer__logo {
  width: 182px;
}

.zb-footer__copyright-text {
  color: hsla(0, 0%, 100%, 0.4);
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.zbay-logo {
  max-width: 240px;
  min-width: 240px;
}

.zb-faq__question {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 400;
}

.zb-faq__p {
  margin-bottom: 16px;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}

.zb-faq__faq-list {
  padding-left: 0px;
  list-style-type: none;
}

.zb-faq__faq-item {
  margin-bottom: 60px;
}

.zb-hero-section {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fbf4ff), color-stop(69%, #fff));
  background-image: linear-gradient(0deg, #fbf4ff, #fff 69%);
}

.zb-footer__pri-btn {
  padding: 6px 12px;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.zb-footer__pri-btn:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.zb-footer__pri-btn-text {
  color: hsla(0, 0%, 100%, 0.7);
}

.zb-footer__logo-link-block.w--current {
  padding: 16px;
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease, -webkit-transform 200ms ease;
}

.zb-footer__logo-link-block.w--current:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.zb-invite-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #521b74;
  background-image: linear-gradient(335deg, #531475, #c9225b);
}

.zb-alert-subheading {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  text-align: center;
}

.zb-alert-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zb-alert-heading {
  margin-top: 8px;
  margin-bottom: 8px;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.zb-alert-icon {
  min-width: 42px;
  margin-right: 0px;
  opacity: 0.5;
}

.zb-alert-title-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.zb-warning {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zb-warning-text {
  width: 60%;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  line-height: 22px;
  font-weight: 300;
}

.zb-warning-image {
  margin-top: -3px;
  margin-right: 8px;
  padding-right: 0px;
  opacity: 0.5;
}

.zb-essay-list {
  margin-bottom: 20px;
  padding-left: 30px;
  list-style-type: decimal;
}

.zb-essay-list-item {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
}

.zb-faq-link:hover {
  text-decoration: underline;
}

.zb-mobile-alert {
  display: none;
  padding-top: 32px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e42656;
}

@media (max-width: 991px) {
  .zb-hero {
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .zb-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .zb-nav__pri-btn:hover {
    background-color: transparent;
  }
  .zb-nav__pri-btn:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .zb-nav__sec-btn:hover {
    background-color: transparent;
  }
  .zb-nav__sec-btn:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .zb-nav__btns-cont {
    margin-right: 0px;
  }
  .zb-hero__desc-cont {
    width: 100%;
    padding-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .zb-hero__zbay-logo {
    margin-left: 0px;
  }
  .zb-hero-heading {
    width: 80%;
    text-align: center;
  }
  .zb-hero-button:hover {
    background-color: #521c74;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .zb-hero__sec-links-list {
    text-align: center;
  }
  .zb-hero__image-container {
    width: 80%;
    min-width: 0px;
    margin-right: 0px;
  }
  .zb-essay {
    width: 100%;
  }
  .zb-section-heading {
    width: 80%;
    text-align: left;
  }
  .zb-faq {
    width: 100%;
  }
  .zb-footer__pri-btn:hover {
    background-color: transparent;
  }
  .zb-footer__pri-btn:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .zb-footer__logo-link-block.w--current:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .zb-alert-heading {
    text-align: center;
  }
  .zb-warning {
    margin-top: 0px;
    margin-bottom: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .zb-warning-text {
    text-align: center;
  }
  .zb-warning-image {
    margin-bottom: 8px;
  }
  .zb-mobile-alert {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .zb-hero {
    padding: 60px 24px;
  }
  .zb-nav {
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .zb-nav__btns-cont {
    margin-right: 0px;
  }
  .zb-hero__image-container {
    width: 90%;
    min-width: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .zb-logo {
    position: static;
    display: none;
    margin-top: -21px;
    margin-left: 0px;
  }
  .zb-essay {
    padding: 60px 24px;
  }
  .zb-essay-paragraph {
    font-size: 16px;
    line-height: 26px;
  }
  .zb-drop-cap {
    margin-top: 25px;
  }
  .zb-faq {
    padding: 60px 24px;
  }
  .zbay-logo {
    width: 220px;
  }
  .zb-faq__question {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 31px;
  }
  .zb-faq__p {
    font-size: 14px;
    line-height: 22px;
  }
  .zb-faq__faq-item {
    margin-bottom: 50px;
  }
  .zb-invite-section {
    padding-right: 24px;
    padding-left: 24px;
  }
  .zb-alert-content {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
  .zb-essay-list-item {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 479px) {
  .zb-nav {
    padding-right: 20px;
    padding-left: 20px;
  }
  .zb-nav__btns-cont {
    margin-right: 0px;
  }
  .zb-hero__desc-cont {
    min-width: 0px;
  }
  .zb-hero-heading {
    width: 100%;
    font-size: 28px;
    line-height: 38px;
  }
  .zb-hero__image-container {
    width: 100%;
    min-width: 0px;
  }
  .zb-logo {
    display: none;
  }
  .zbay-app-mockup {
    width: 100%;
  }
  .zb-section-heading {
    width: 100%;
    font-size: 28px;
    line-height: 38px;
  }
  .zbay-logo {
    width: 200px;
  }
  .zb-alert-heading {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }
  .zb-warning-text {
    width: 100%;
  }
}

